[Unit]
Description=CO2 Sensor API Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/share/co2-sensor
ExecStart=/usr/bin/gunicorn -w 2 -b 0.0.0.0:8080 co2_api:app --config=/etc/co2-sensor/config.yml
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
